@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Cairo:wght@300;400;500;600;700;800;900&family=Edu+SA+Beginner:wght@500;600;700&family=Tajawal:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap');

:root {
    --font-v: 'Blaka', cursive;
    --font-c: 'Cairo', sans-serif;
    --font-f: 'Edu SA Beginner', cursive;
    --font-t: 'Tajawal', sans-serif;
    --font-A: 'Almarai', sans-serif;
}

/*navbar*/
.navbar-brand {

    font-family: var(--font-f);

    font-weight: 700;
}

.navbar-brand>h2 {
    font-size: calc(1.325rem + -0.1vw);
}

.nav-link {
    font-family: var(--font-c);


}

.navbar-collapse ul a {
    font-weight: 900;

}

.navbar-expand-lg .navbar-collapse {
    align-items: flex-end;
}

.navbar-toggler {
    border-color: #ffc107 !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,193,7, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>") !important;
}

/*e nav*/
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus,
.navbar .navbar-nav .nav-link:hover {
    color: rgb(1, 130, 1) !important;
}

/*slider*/

.carousel {
    padding-top: 15px;


}


#cardg {
    padding-top: 10px;
    justify-content: center;
    font-family: var(--font-v);
    font-size: xxx-large;
}

.row-cols-2>* {
    flex: 0 0 auto;
    width: 50% !important;
}

#section1 {
    font-family: var(--font-v);
    font-size: xxx-large;
}

.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.tabs li {
    padding: 5px;
    background-color: #198754;
    border-right: 1px solid #F6F6F6;
    cursor: pointer;
    transition: 0.2s;
    font-family: var(--font-t);
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}

.tabs li.active,
.tabs li:hover {
    background-color: #dc3545;
}

.content {
    background-color: #198754;
}

.content>div {
    padding: 20px;
}

.content>div:not(:first-child) {
    display: none;

}

.footer .copyright>span {
    color: #ffc107;
}

.footer .fo a {
    color: #f8f9fa;
    text-decoration: none;
}

.footer .fo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .fo a:hover {
    color: rgb(1, 130, 1);

}

.footer .mo {
    justify-content: center;
}

.footer .twl a {
    color: #ffc107;
    text-decoration: none;
}


.content>div:not(:first-child) {
    display: none;
    padding: 3px;
}

.row {

    --bs-gutter-x: 5px !important;
    --bs-gutter-y: 5px !important;
}

.btn-outline-dark {
    justify-content: space-around !important;
    display: flex !important;
}


#innnerpageh h2 {

    font-family: 'Cairo';
    display: flex;
    justify-content: space-around
}


.element-item {

    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
}



.innertab,
.progtabs,
.tabso,
.tabse,
.tabsaa,
.tabsbb,
.tabstu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: wrap;
}


.innertab li,
.progtabs li,
.tabso li,
.tabse li,
.tabsaa li,
.tabsbb li,
.tabstu li {
    padding: 5px;
    background-color: #198754;
    border-right: 1px solid #F6F6F6;
    cursor: pointer;
    transition: 0.2s;
    font-family: var(--font-t);
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}


.innertab li.active,
.progtabs li.active,
.tabso li.active,
.tabse li.active,
.tabsaa li.active,
.tabsbb li.active,
.tabstu li.active,
.innertab li:hover,
.progtab li:hover,
.tabso li:hover,
.tabse li:hover,
.tabsaa li:hover,
.tabsbb li:hover,
.tabstu li:hover {
    background-color: #dc3545;
}


.innercontent,
.inprogtabs,
.contentooo,
.contentooe,
.contentaa,
.contentbb,
.contentstu {
    background-color: #198754;
}

.innercontent>div,
.inprogtabs>div,
.contentooo>div,
.contentooe>div,
.contentaa>div,
.contentbb>div,
.contentstu>div {
    padding: 20px;
}

.innercontent>div:not(:first-child),
.inprogtabs>div:not(:first-child),
.contentooo>div:not(:first-child),
.contentooe>div:not(:first-child),
.contentaa>div:not(:first-child),
.contentbb>div:not(:first-child),
.contentstu>div:not(:first-child) {
    display: none;

}


.share p {
    display: flex;
    justify-content: center;
}



.sharebtn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;

}




.share h2,
#fraq {
    font-family: var(--font-v);
    font-size: xxx-large;
}

#telegram a {
    text-decoration: none;
    color: white;
}

#telegram {
    background-color: #229ad4;
    padding: 0 7px 0 7px;
    -o-border-radius: 65px;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    -ms-border-radius: 65px;
    border-radius: 65px;
    margin-left: 5px;

}

#telegram a span {
    vertical-align: 4px;
    margin-left: 3px;
}

#telegram a {
    display: flex;
    align-items: center;
}

.ulo {
    display: flex;
    align-content: center;
    align-items: center;
}

@media (max-width:992px) {
    .ulo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    #telegram {
        margin-bottom: 10px;
    }
}

@media (min-width:993px) {
    .ulo {
        display: flex;
        align-content: center;
        align-items: center;
    }
}

#ofooter {
    flex-direction: column;
}

@media (min-width:993px) {
    #ofooter {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:768px) {
    #ofooter {
        flex-direction: column;
        align-items: center;
    }
}


.background-sec {
    background-color: #ffc107;
    color: #212529;
    width: 100%;
    height: 15vh;
    display: flex;
    font-family: var(--font-t);
    justify-content: center;
    align-items: center;
    text-align: center;
}


.loogo {
    width: 150px;
    height: 150px;
}

.main {
    display: flex;
    justify-content: center;
    margin: 30px 15px 0px 15px;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-c);
    font-weight: bold;
    text-align: center;
    margin-right: 15px;
}

.image {
    display: flex;
    justify-content: center;


}

.text p {
    display: flex;
    align-items: center;
}

.text p i {
    font-size: xx-large;
}

.text span {
    margin-right: 5px;
}

.main button a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}